@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Share+Tech&display=swap');

body{
    background-image: url(/IMG/a091c631b0e4c553c61e8d806558cd09.jpg);
    
    margin: 0;
    padding: 0;
    font-family: "Share Tech", sans-serif;
}

button:hover, form .botaoform input:hover{
    box-shadow: 0px 0px 20px #ac46ff;
    transform: scale(1.05);
}



header{
    /*background-color: aliceblue;*/
    width: 1100px;
    margin: auto;
    display: flex;
    float: right;
    margin: 0 67px 0 0;
} 

nav{
    /*background-color: rgb(37, 243, 192);*/
    margin-top: -80px;
    width: 1100px;
    height: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0px 0 0 20px;
    transition: 2s;
}

a:link{
    text-decoration: none; /*troca a cor do link*/
    color:  #ac46ff;
}

a:visited{
    color: #ff02c0; /*depois de visitar a cor muda*/
}

a:hover{
    color:#d857f1; /*quando o mouse passar por cima do link*/
}

a:active{
    color: #EABCFF; /*quando clicar a cor muda*/
}

nav:hover{
    transform: scale(1.05);
}

.persoA{
    text-decoration: none;
}

#parte1Curriculo{
    /*background-color: turquoise;*/
    width: 810px;
    height: 500px;
    float: right;
    margin: 0 67px 0 0;
    box-sizing: border-box;
}

#foto{
    /*background-color: brown;*/
    width: 390px;
    height: 550px;
    margin: 100px 0 0 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 100%;
    height: 100%;
    position: relative;
    animation: flutuar 2s infinite alternate;
    border-radius: 30px;
    box-shadow: 0 0 8px #d857f1;
}
    
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

h2{
    color: rgb(130, 25, 190);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0 0 50px;
}

p{
    color: rgb(209, 209, 209);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0 0 50px;
}

#persoCursos{
    padding: 100px 0 0 50px;
    margin-top: 140px;
}





/*parte 2 curriculo*/

#parte2Curriculo{
    /*background-color: rgb(13, 14, 13);*/
    width: 810px;
    height: 500px;
    float: right;
    margin: 0 67px 0 0;
    box-sizing: border-box;
}

ul{
    color: rgb(209, 209, 209);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

#persoParte2{
    color: rgb(209, 209, 209);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#parte2{
    /*background-color: brown;*/
    width: 390px;
    height: 999px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 68px;
}


#meuNome p{
    color: rgb(209, 209, 209);
    height:300px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-top: -300px;
}

h1{
    color: white;
    height: 333px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    padding: 0px 0 0px 0px;
}

 #persoExp{
    margin-top: 200px;
}

#meuNome{
    height: 333px;
}

#persoEstudante{
    height: 333px;
    padding: 50px 0 0 51px;
}

#blocoContatos{
    height: 333px;
}

a.linksctt{
    color: #EABCFF;
}

a.linksctt:hover{
    color: #FFF;
}

#persoContatos{
    padding: 100px 0 0 0;
    color: #EABCFF;
}

.roxo{
    color: rgb(171, 69, 255);
}

#rosa{
    color: #ff02c0;
}

#persoEmail{
    width: 390px;
    height: 333px;
    margin-top: -350px;
    margin-left: -30px;
    font-size: 25px;
}

#persoemail:hover{
    
    text-decoration: none; /*troca a cor do link*/
    color: #fff;
}

#persoEmail2{
    width: 390px;
    height: 333px;
    margin-top: -330px;
    margin-left: -30px;
    font-size: 25px;
}

#persoNumero{
    width: 390px;
    height: 333px;
    margin-top: -370px;
    margin-left: -30px;
    font-size: 25px;
}

#persoNumero2{
    width: 390px;
    height: 333px;
    margin-top: -352px;
    margin-left: -30px;
    font-size: 25px;
}

#telefoneSpan{
    color: #ff02c0;
    
}

#enderecoSpan{
    color: #EABCFF;
}

#persoEndereco{
    width: 390px;
    height: 333px;
    margin-top: -340px;
    margin-left: -30px;
    font-size: 25px;
}

#persoEndereco2{
    width: 390px;
    height: 333px;
    margin-top: -352px;
    margin-left: -30px;
    font-size: 25px;
}

#TxtExp{
    /*background-color: aqua;*/
    width: 740px;
    height: 300px;
    display: flex;
    margin: 0 67px 0 0;
    box-sizing: border-box;
    margin-top: -380px;
    margin-left: 450px;
    
}

/*Formulário Contato*/

.botaoContato button{  /*botão Fale Comigo embaixo das informações principais*/   
   
}

button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #d857f1;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 90px;
    box-shadow: 0px 0px 15px #ff72c9;
    transition: 2s;
}

button:hover{
    transform: scale(1.05);
}



#botaoform1{
    margin-top: 70px;
    margin-left: 570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

form{
    margin-left: 95px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color:rgba(8, 8, 8, 0.301);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #EABCFF;
    font-size: 18px;
}

form input::placeholder{
    color: #97327e;
}

form textarea{
    resize: none;
}

form textarea::placeholder{
    color: #97327e;
}

form .botaoform{
    display: flex;
    align-items: center;
    margin: 20px;
    margin-left: 155px;
    margin: auto;
    transition: 2s;
}

form #botaoform input{
    height: 40px;
    background-color: #d857f1;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

form .botaoform:hover{
    transform: scale(1.05);
}

